{% extends 'durga.html' %}

{% block content %}


 <br>
 <div class="row">
    <div class="col-md">
        <div class="card card-body">
            <h5>Products</h5>
        

        </div>
        <div class="card card-body">
            <table class="table">
                <tr> 
                    <th> Product </th>
                    <th> Category </th>
                    <th> Price </th>
                </tr>

                {% for product in products %}

                <tr>
                    <th> {{product.name}} </th>
                    <th> {{product.category.name}} </th>
                    <th> {{product.price}} </th>

                </tr>
                <tr>
                    

                </tr>
                <tr>
                    

                </tr>
                
                {% endfor %}
    </div>
 </div>

{% endblock content %}

